page-politica {
  .h2{
    margin-top: 1.8em;
    font-size: 2em;
    color: #333443;
    font-weight: lighter;
    font-style: italic;
  }

  .p{
    padding: 10px;
    line-height: 1.4em;
    text-align: justify;
    font-size: 1.2em;
    color: #333443;
    font-weight: lighter;
    margin-bottom: 1.3em;
  }

  .politica{
    font-size: 1em;
    margin: 0 0;
  }

  .title-icon{
    font-size: 1em;
  }
}
