<ion-header>
  <ion-navbar>
    <ion-title class="title-icon">Política de Privacidade</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 class="h2 text-center">TERMO E CONDIÇÕES DE USO</h2>
  <p class="p">
    Esta Política de Privacidade estabelece os termos em que o Projeto Mosaico usa e protege as
    informações fornecidas por seus usuários ao usar seu API. Esta empresa está comprometida com
    a segurança dos dados de seus usuários. Quando pedimos que você preencha os campos de informações
    pessoais com as quais você pode ser identificado, fazemos isso garantindo que eles sejam usados ​​apenas de acordo com os termos deste documento. No entanto, esta Política de Privacidade pode
    mudar ao longo do tempo ou ser atualizada para o que recomendamos e nós encorajamos você a rever
    continuamente esta página para garantir que você concorda com essas mudanças.
  </p>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="text-center">
        <button ion-button (click)="close()" class="text-center" color="secondary">
          FECHAR
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
