<ion-content has-header="true" overflow-scroll="true">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-5 col-md-7 col-xl-5 col-xs-12 col-sm-12>
        <div class="head">
          <img src="assets/imgs/mosaico.png" alt="" />
        </div>
        <h1 class="titulo">
          Resultado da sua simulação
        </h1>
        <div class="pad-form">
          <div class="formulario back-none">
            <img src="assets/imgs/passo3.png" alt="" class="icon">
            <br>
            <div class="box">
              <table>
                <tr>
                  <td class="title">
                    <p>NOME</p>
                  </td>
                  <td class="input">
                    <p>{{res.nome}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <p>PROPRIEDADE</p>
                  </td>
                  <td class="input">
                    <p>{{res.lote}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <p>VALOR ATUAL DO BEM (À VISTA R$)</p>
                  </td>
                  <td class="input">
                    <p>{{res.atual}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <p>VALOR DA ENTRADA (R$)</p>
                  </td>
                  <td class="input">
                    <p>{{res.entrada}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <p>QUANTIDADE DE MESES</p>
                  </td>
                  <td class="input">
                    <p>{{res.mes}} MESES</p>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <p>RESTANTE A FINANCIAR (R$)</p>
                  </td>
                  <td class="input">
                    <p>{{res.valorPresente}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <p>VALOR DA PARCELAS (R$)</p>
                  </td>
                  <td class="input">
                    <p>{{res.pagamento}}</p>
                  </td>
                </tr>
              </table>
            </div>
            <hr>
            <div class="text-center">
              <a href="{{url}}"
                class="text-center button button-md button-default button-default-md button-md-danger" 
                color="danger" style="padding-top: 10px">
                Fale com um especialista
              </a>
            </div>
            <div class="text-center">
              <button ion-button icon-start (click)="prev()" class="text-center" color="danger" clear>
                <ion-icon name="arrow-round-back"></ion-icon>
                Refazer Simulação
              </button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 col-lg-7 col-md-5 col-xl-7 col-xs-12 col-sm-12>
        <div class="image img-3"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
