page-result {
  .h2{
    margin-top: 1em;
    font-size: 2em;
    color: #333443;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: .9em;
  }

  .box{
    background: none;
    padding: .5em;
    border-radius: 20px;
    table{
      width: 100%;
      .title{
        width: 55%;
        p{
          font-size: .9em;
          font-weight: lighter;
          color: rgb(43, 43, 43);
          text-align: right;
          padding-right: .9em;
          text-transform: uppercase;
        }
      }
      .input{
        p{
          font-weight: normal;
          color: rgb(43, 43, 43);
          text-align: left;
          font-size: 1em;
          vertical-align: top;
          text-transform: uppercase;
        }
      }
    }
  }
  a{
    text-decoration: none;
    padding-top: 15px;
  }
}
