<ion-content padding>
  <div class="container">
    <img src="assets/imgs/logo.png" class="logo" alt="" />
    <h1>simule seu</h1>
    <h2 class="margin">financiamento</h2>
    <img src="assets/imgs/mosaico.png" class="logoM" alt="" />
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="text-center">
        <button ion-button round (click)="nextPage()" class="text-center">acessar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
