page-home {
  .content-ios, .content-md{
    background: #21232A;
    color: #F9C900;
    vertical-align: middle;
  }
  .button-ios, .button-md{
    font-weight: bolder;
    font-size: 2em;
    height: 1.5em;
    text-transform: lowercase;
  }
  .text-center{
    text-align: center;
  }
}
