<ion-content has-header="true" overflow-scroll="true">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-7 col-md-5 col-xl-7 col-xs-12 col-sm-12>
        <div class="image" [ngClass]="sim.image" ></div>
      </ion-col>
      <ion-col col-12 col-lg-5 col-md-7 col-xl-5 col-xs-12 col-sm-12>
        <div class="head">
          <img src="assets/imgs/mosaico.png" alt="" />
        </div>
        <h1 class="titulo">
          Antes de finalizar fale mais de você!
        </h1>
        <div class="pad-form">
          <div class="formulario">
            <img src="assets/imgs/passo2.png" alt="" class="icon" />
            <br>
            <form [formGroup]="itemsForm">
              <ion-item>
                <ion-label stacked>Nome</ion-label>
                <ion-input type="text" formControlName="nome" required></ion-input>
              </ion-item>
              <ion-item *ngIf="!itemsForm.controls.nome.valid  && itemsForm.controls.nome.dirty">
                <p class="error">O nome é obrigatório.</p>
              </ion-item>
              <ion-item>
                <ion-label stacked>E-mail</ion-label>
                <ion-input type="email" formControlName="email" required></ion-input>
              </ion-item>
              <ion-item *ngIf="!itemsForm.controls.email.valid  && itemsForm.controls.email.dirty">
                <p class="error">Deve inserir um endereço de email válido.</p>
              </ion-item>
              <ion-item>
                <ion-label stacked>Telefone</ion-label>
                <ion-input type="tel" formControlName="telefone" [brmasker]="{phone: true}" placeholder="(92) 991-569870"></ion-input>
              </ion-item>
              <ion-item *ngIf="!itemsForm.controls.telefone.valid  && itemsForm.controls.telefone.dirty">
                <p class="error">O telefone deve ter 11 dígitos.</p>
              </ion-item>
              <ion-item>
                <ion-label stacked>Profissão</ion-label>
                <ion-input type="text" formControlName="profissao" requerid></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Estado</ion-label>
                <ion-select formControlName="estado" requerid>
                  <ion-option *ngFor="let e of state" value="{{e.name}}">
                    {{e.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label stacked>Estado Civil</ion-label>
                <ion-select formControlName="civil" requerid>
                  <ion-option *ngFor="let c of estado_civil" value="{{c.name}}">
                    {{c.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <div class="text-center">
                <button ion-button icon-start (click)="prev()" class="text-center" color="danger" clear>
                  <ion-icon name="arrow-round-back"></ion-icon>
                  Voltar
                </button>
                <button ion-button icon-end (click)="send()" class="text-center" color="danger">
                  Simular
                  <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
                <button ion-button clear class="privacidade" (click)="modalInfo()" color="danger">
                  Política de Privacidade
                </button>
                <p class="text-center privacidade">
                  Ao clicar em simular você está de acordo com nossa Política de Privacidade
                  da Mosaico Incorporadora.
                </p>
              </div>
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
