page-one {
    .pontanegra{
        background-image: url('../assets/imgs/pontanegra.jpg');
    }
    .essence{
        background-image: url('../assets/imgs/essence.jpg');
    }
    .vintage{
        background-image: url('../assets/imgs/vintage.jpg');
    }
}
