// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.grid, .col{
  padding: 0px;
}

ion-grid, ion-row {
  height: 100%;
}

.text-center{
  text-align: center;
}

.error{
  font-size: 0.8em;
  color: #DB1B1B;
  font-style: italic;
  font-weight: lighter;
}

.button-ios, .button-md{
  font-weight: bolder;
  font-size: 1.5em;
  height: 2em;
}

.icon{
  display: block;
  margin: 0 auto;
}
.item-md, .item-ios {
  background: none;
}

.titulo {
  padding: 2rem 5rem 0rem 5rem;
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
  color: rgb(13, 121, 103);
}
.pad-form{
  padding: 2rem 8rem;
}

.formulario{
  background: #f5f5f5;
  padding: 6rem 8rem;
  border-radius: 10px;
}

.privacidade{
  font-size: .8em;
  padding: 0px;
  margin: 0px;
  
}

.back-none{
  background: none;
}

.image{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1{
  background-image: url('../assets/imgs/home-1.jpg');
}

.img-3{
  background-image: url('../assets/imgs/home-3.jpg');
}

.head{
  height: 100px !important;
  background: #343539;
  text-align: center;
  padding: 10px 0;
  img {
    height: 100%;
  }
}

@media (max-width: 1366px){
  .titulo{
    font-size: 1.8em;
    padding: 1rem 2.5rem 0rem 2.5rem;
  }
  .pad-form{
    padding: 1rem 5rem
  }
  .formulario{
    padding: 3rem 4rem;
  }
  .head {
    height: 90px !important;
  }
}


@media (max-width: 1024px) {
  .titulo {
    font-size: 1.7em;
  }
  .pad-form {
    padding: 1rem 2rem;
  }

  .formulario {
    padding: 1.5rem 2rem;
    border-radius: 10px;
  }
}


@media (max-width: 767px){
  .image{
    display: none;
  }
  .titulo {
    font-size: 1.7em;
  }
  .pad-form {
    padding: 1rem 0rem;
  }

  .formulario {
    padding: 1.5rem 2rem;
    border-radius: 10px;
  }
}
