<ion-content has-header="true" overflow-scroll="true">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-5 col-md-7 col-xl-5 col-xs-12 col-sm-12>
        <div class="head">
          <img src="assets/imgs/mosaico.png" alt="" />
        </div>
        <h1 class="titulo">
          Simule o valor de sua parcela aqui
        </h1>
        <div class="pad-form">
          <div class="formulario">
            <img src="assets/imgs/passo1.png" alt="" class="icon">
            <br>
            <ion-item>
              <ion-label floating>Empreendimento:</ion-label>
              <ion-select [(ngModel)]="sim.lote" (ionChange)="onSelect($event)">
                <ion-option *ngFor="let p of propiedade" value="{{p.name}}">
                  {{p.name}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating>Valor Atual do Bem (À vista)</ion-label>
              <ion-input type="text" [(ngModel)]="sim.atual" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Valor da Entrada</ion-label>
              <ion-input type="text" [(ngModel)]="sim.entrada"required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Quantidade de Prestações:</ion-label>
              <ion-select [(ngModel)]="sim.mes" required>
                <ion-option *ngFor="let m of meses" value="{{m.id}}">{{m.name}}</ion-option>
              </ion-select>
            </ion-item>
            <br>  
            <div class="text-center">
              <button ion-button icon-end (click)="next()" class="text-center" color="danger">
                Seguinte
                <ion-icon name="arrow-round-forward"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 col-lg-7 col-md-5 col-xl-7 col-xs-12 col-sm-12>
        <div class="image img-1"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
